<section
    class="flex flex-col-reverse sm:flex-row pt-16 pb-20 items-center gap-16"
>
    <article class="flex flex-col gap-10">
        <h1
            class="font-extrabold text-light-texto-primary dark:text-dark-texto-primary text-3xl sm:text-4xl"
        >
            About me<span class="text-primary">.</span>
        </h1>
        <div
            class="flex flex-col gap-4 text-[0.91rem] text-light-texto-secondary dark:text-dark-texto-secondary"
        >
            <p>
                I started my journey in the field of development in 2014 when I discovered
                XHTML on my GPRS keypad mobile phone, and since then, I have honed
                my skills by developing cutting-edge solutions for a variety of
                platforms, including web, mobile, and more.
            </p>
            <p>
                As someone with an ultimate goal of establishing a career as a software
                engineer, I have become proficient in multiple programming languages
                and am always eager to expand my knowledge as a skilled full-stack
                developer, combining the power of code and design to bring ideas to life.
            </p>
        </div>
    </article>
    <img
        class="rounded-full h-[170px] w-[170px] sm:w-[200px] sm:h-[200px]"
        src="/avatar.webp"
        alt="Nathan Pham - Full-stack Developer"
        loading="lazy"
    />
</section>
